<section id="download" class="content-section text-center">
  <video poster="../assets/img/beach-zoom-out.png" id="bgvid" playsinline autoplay muted loop>
  <source src="../assets/img/beach-zoom-out.m4v" type="video/mp4">
  </video>
    <div id="signup" class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <form>
                <input placeholder="Name" type="text" [(ngModel)]="formInfo.name" name="name"/>
                <br>
                <input placeholder="Last Name" type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
                <br>
                <input placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username"/>
                <br>
                <input placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password"/>
                <br>
                <button class="btn btn-lg"(click)="signup()"> Signup </button>
              </form>

            </div>
        </div>
    </div>
</section>
