* {box-sizing: border-box;}
.grid {
  max-width: inherit;
  height:100%;
}
.grid > div {
  background-color: black;
  padding: 1em;
  color: #d9480f;
}.grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: 75px repeat(4, 20%);
}
.selection-menu {
  grid-area: 1 / 1 / 8 / 2;
  border-right: white 1px solid;
  display: grid;
  grid-template-rows: 75px 1fr;
}
.places {
  grid-row: 2;
  padding: 1em;
  color: white;
}
.places a {
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
.places a:hover {
  color: #42DCA3;
}
.content > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}.content {
  grid-column: 2 / 6;
  grid-row: 2 / 8;
  overflow: scroll;
}
.locations {
  width: 22%;
  height: 24%;
  float: left;
  margin: 10px;
}
